.Dashboard {
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  color: var(--accents-color)
}
.Boards {
  display: grid;
  gap: 40px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
}
