.KudoCard {
  align-self: center;
  width: 200px;
  justify-content: center;
  place-self: center;
  background: var(--background-color);
  padding: 0.4em;
  border-radius: 6px;
  transition: all 0.3s;
  border: 2px solid var(--foreground-color);
}

.card-image {
  background-color: var(--background-color);
  width: 200px;
  height: 300px;
  border-radius: 6px 6px 0 0;
  transition: all 0.3s;
  border-radius: 6px;
}

.card-image:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}
.buttonDiv{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    button{
      align-self: center;
      width: 100%; 
      margin-left: 4px;
      margin-right: 4px;
    }
}